.main-inner {
  width: calc(100% - 400px);
  margin-right: 6rem;
}
.header {
  margin-left: 4.1rem;
}


@media (max-width: 991px) {
    .header {
        margin-left: 0;
    }
    .main-inner {
        width: 100%;
        margin-right: 0;
    }
}