/** code by 310mc.github.io **/
:root {
    --main-bg-color: #5b705e;
    --yumenosaki-bg-color: #db8b23;
    --ensemblesquare-bg-color: #6193bd;
    --megasphere-bg-color: #12a071;
}

h3 {
    font-family: Inter, sans-serif;
    line-height: 1.5;
    margin: 0;
    font-size: 1.2em;
    border-bottom: none !important;
}

.post-body h3 {
    border-bottom: none;
}

.grid {
    display: block;
    margin-left: 0.4rem;
}

.navigation2 {
    width: 103%;
}

.timeline-info {
    width: 100%;
    border: 3px solid var(--main-bg-color);
    border-radius: 5px;
    box-shadow: 1px 1px 1px var(--main-bg-color);
    background: transparent;
    margin-inline: auto;
}

.timeline-info .title {
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    padding: 0.6rem;
    text-transform: uppercase;
}

.timepoint {
    width: 50%;
}

/*.learn-more {
    padding-left: 1rem;
}*/

.learn-more .month {
    text-align: center;
}

.learn-more-text {
    padding-left: 1rem;
}

.disclaimer, .blurb {
    margin: auto;
    text-align: center;
    padding-inline: 0.7rem;
    padding-bottom: 0.8rem;
}

.disclaimer {
    text-align: center;
}

.stories-info {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.stories-image {
    width: 150px;
    margin: 0 4px;
}

.stories-image .caption {
    color: #000;
}

.post-body .fancybox+figcaption, .post-body .image-caption, .post-body img+figcaption {
    margin: -12px auto 12px !important;
    font-size: 0.8em !important;
    color: #515551; 
}

.vl {
    border: 6px solid var(--main-bg-color);
    background: var(--main-bg-color);
    width: 0px;
    height: 40px;
    margin-inline: auto;
}

/* yumenosaki colors */
.vl.yumenosaki {
    border: 6px solid var(--yumenosaki-bg-color);
    background: var(--yumenosaki-bg-color);
}

.timeline-info.yumenosaki {
    border: 3px solid var(--yumenosaki-bg-color);
    box-shadow: 1px 1px 5px var(--yumenosaki-bg-color);
}

/* ensemble square colors */
.vl.ensemblesquare {
    border: 6px solid var(--ensemblesquare-bg-color);
    background: var(--ensemblesquare-bg-color);
}

.timeline-info.ensemblesquare {
    border: 3px solid var(--ensemblesquare-bg-color);
    box-shadow: 1px 1px 5px var(--ensemblesquare-bg-color);
}

/* mega sphere colors */
.vl.megasphere {
    border: 6px solid var(--megasphere-bg-color);
    background: var(--megasphere-bg-color);
}

.timeline-info.megasphere {
    border: 3px solid var(--megasphere-bg-color);
    box-shadow: 1px 1px 5px var(--megasphere-bg-color);
}

/** timeline explanation **/
/* Style the tab */
.tab {
  overflow: hidden;
  text-align: center;
  margin-bottom: 10px;
}

/* Style the buttons inside the tab */
.tab button {
  border: none;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 17px;
  margin: auto;
}

.ensemblesquare .tab button {
    background-color: var(--ensemblesquare-bg-color);
    color: #fff;
}

.ensemblesquare .tab button:hover {
    background-color: #175f9b;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
    display: none;
    padding: 6px 12px;
    flex-wrap: wrap;
    justify-content: center;
}

#storycontents {
    flex-flow: wrap;
    max-height: 300px;
    overflow: auto;
    padding-top: 10px;
    padding-inline: 30px;
}

#storycontents p {
    margin: 0px 0px 23px !important;
}

/* dark mode */
@media (prefers-color-scheme: dark) {
    :root {
        --main-bg-color: #5a5f59;
        --yumenosaki-bg-color: #d8bb7c;
        --ensemblesquare-bg-color: #657d91;
        --megasphere-bg-color: #21ce94;
    }

    .post-body .fancybox+figcaption, .post-body .image-caption, .post-body img+figcaption {
        color: #a3a7a2;
    }
}

/* medias */
@media only screen and (max-width:650px) {
    .post-body .fancybox+figcaption, .post-body .image-caption, .post-body img+figcaption {
    margin: 0px auto 12px;
    }
}